{% extends "base.html" %}
{% load static %}

{% block title %}
    {{ profile_user.username }} - Profile
{% endblock %}

{% block content %}

<div class="max-w-4xl mx-auto space-y-6">

    <div class="bg-white rounded-2xl p-6 shadow-sm">

        {% if profile_user.profile.avatar %}

            <img
                src="{{ profile_user.profile.avatar.url }}"
                alt="{{ profile_user.username }}"
                class="w-24 h-24 rounded-full object-cover"
            >

        {% else %}

            <div class="w-24 h-24 rounded-full bg-indigo-500
                        flex items-center justify-center
                        text-white text-2xl font-bold">

                {{ profile_user.username|slice:":1"|upper }}

            </div>

        {% endif %}


        <h1 class="text-2xl font-bold mt-4">
            {{ profile_user.username }}
        </h1>

        {% if request.user.is_authenticated %}
            {% if request.user != profile_user %}
                <button
                    type="button"
                    class="js-follow mt-3 text-sm bg-indigo-500 text-white px-4 py-2 rounded-lg"
                    data-username="{{ profile_user.username }}"
                     data-action="{% if you_follow %}unfollow{% else %}follow{% endif %}"
                    data-url="{% url 'profiles:follow' %}"
                >
                    <span class="js-follow-wording">
                        {% if you_follow %}
                            Unfollow
                        {% else %}
                            Follow
                        {% endif %}
                    </span>
                </button>
  

            {% endif %}
                        <div class="flex gap-6 mt-4">

    <div>
        <span class="font-bold">
            <a href="{% url 'profiles:followers' username=profile_user.username %}">
    {{ profile_user.followers.count }} Followers 
</a>
      
    </div>
<div>
        <span class="font-bold">
<a href="{% url 'profiles:following' username=profile_user.username %}">
    {{ profile_user.following.count }} Follow
</a>
        </span>
        
    </div>



    <div>
        <span class="font-bold">
            {{ profile_user.posts.count }}
        </span>
        <span class="text-gray-500">
            Posts
        </span>
    </div>

           </div>      

        {% endif %}                               

        {% if profile_user.profile.bio %}

            <p class="text-gray-600 mt-2">
                {{ profile_user.profile.bio }}
            </p>

        {% endif %}


        <p class="text-sm text-gray-400 mt-2">
            Joined {{ profile_user.date_joined|date:"F Y" }}
        </p>

    </div>


    <div>

        <h2 class="text-xl font-bold mb-4">
            Posts
        </h2>

        {% with posts=profile_user.posts.all %}
            {% if posts %}
                    {% include "feed/includes/post.html" with post=post %}
            {% else %}
                <p class="text-gray-500">
                    No posts yet.
                </p>

            {% endif %}
        {% endwith %}

    </div>
                <script src="{% static '/profiles/js/main.js' %}"></script>

</div>

{% endblock %}